<div class="modal-body" style="text-align:center">
    <h2>{{ $ctrl.confirmationMessage }}</h2>

    <p ng-if="$ctrl.warningMessage" class="bg-danger text-danger" style="padding:10px 20px">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        {{ $ctrl.warningMessage }}
    </p>

</div>
<div class="modal-footer" style="text-align:center">
    <button class="btn btn-info" style="width:100px;" type="button" ng-click="$ctrl.close()" translate="common.yes"></button>
    <button class="btn btn-danger" style="width:100px;" type="button" ng-click="$ctrl.dismiss()" translate="common.no"></button>
</div>