<view-header title="{{ $ctrl.title }}">
    <div class="pull-right">
        <button class="btn btn-info" has-permission="{{ $ctrl.options.permissions.view }}" ng-click="$ctrl.goToPreviewView()" ng-disabled="!$ctrl.table.onlyOneSelected()" translate="{{ $ctrl.previewButton || 'common.preview' }}"></button>
        <button class="btn btn-info" has-permission="{{ $ctrl.options.permissions.edit }}" ng-click="$ctrl.goToEditView()" ng-disabled="!$ctrl.table.onlyOneSelected()" translate="{{ $ctrl.editButton || 'common.edit' }}"></button>
        <button class="btn btn-info" has-permission="{{ $ctrl.options.permissions.delete }}" ng-click="$ctrl.removeSelectedItems()" ng-disabled="!$ctrl.table.isAnyRowSelected()" translate="{{ $ctrl.removeButton || 'common.remove' }}"></button>
        <button class="btn btn-info" has-permission="{{ $ctrl.options.permissions.add }}" ng-click="$ctrl.goToAddItemView()" translate="{{ $ctrl.addButton || 'common.add' }}"></button>
    </div>
</view-header>


<div class="row content-row">
    <table datatable="" dt-options="$ctrl.dtOptions" dt-columns="$ctrl.dtColumns" dt-instance="$ctrl.dataTableInstance"
           datatables-bind-angular-fix pre-draw-callback="$ctrl.table.clear()" datatables-processing-indicator
           class="table stylized-table"></table>
</div>
