<div click-outside="hide()">
    <div class="input-group" uib-popover-template="'/Content/Scripts/Common/templates/_durationPickerContentTemplate.html'"
               popover-animation="false"
               popover-is-open="isOpen"
               popover-trigger="'none'"
               popover-placement="auto top-right"
               popover-class="duration-picker-popover">

        <input type="text" class="form-control form-input"
               ng-model="textInputValue" />

        <span class="input-group-addon">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
        </span>
    </div>
</div>