<div class="bootstrap-durationpicker-widget open">
    <table>
        <tbody>
            <tr>
                <td><span ng-click="days.increment()" class="arrow-button"><i class="fa fa-chevron-up"></i></span></td>
                <td class="separator"></td>
                <td><span ng-click="hours.increment()" class="arrow-button"><i class="fa fa-chevron-up"></i></span></td>
                <td class="separator"></td>
            </tr>
            <tr>
                <td><input type="text" class="bootstrap-durationpicker-hour form-input form-control" maxlength="3" style="width:50px"
                           ng-model="days.value" ng-keyup="onKeyUp($event, days)" awnum="positiveInteger"/></td>
                <td class="separator" style="padding-right:20px" translate="common.duration.days"></td>
                <td><input type="text" class="bootstrap-durationpicker-minute form-input form-control" maxlength="2" style="width:50px"
                           ng-model="hours.value" ng-keyup="onKeyUp($event, hours)" ng-keydown="closeOnTabPress($event)" awnum="positiveInteger"/></td>
                <td class="separator" translate="common.duration.hours"></td>
            </tr>
            <tr>
                <td><span ng-click="days.decrement()" class="arrow-button"><i class="fa fa-chevron-down"></i></span></td>
                <td class="separator"></td>
                <td><span ng-click="hours.decrement()" class="arrow-button"><i class="fa fa-chevron-down"></i></span></td>
                <td class="separator"></td>
            </tr>
        </tbody>
    </table>
</div>