@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel

<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            @foreach (var nodesGroup in Model.Nodes)
            {
                for (int i = nodesGroup.Children.Count; i > 0; i--)
                {
                    <li>
                        @if (nodesGroup.Children.Count == i)
                        {
                            <a><i class="fa fa-home"></i> @Html.DisplayFor(m => nodesGroup.Children[i - 1].Ancestors[0].Description)  <span class="fa fa-chevron-down"></span></a>
                        }


                        <ul class="nav child_menu">
                            @foreach (var child in nodesGroup.Children)
                            {
                                <li>@Html.DisplayFor(m => child)</li>
                            }
                        </ul>
                    </li>
                }
            }
        </ul>
    </div>
</div>
